name: Docker Image CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build and push the Docker image
      run: |
        docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USER }}/elabimg:$(date +%s) --tag ${{ secrets.DOCKER_USER }}/elabimg:latest
        docker login --user ${{ secrets.DOCKER_USER }} --password ${{ secrets.DOCKER_PASSWORD }}
        docker push orevil/elabimg
